* {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1600px;
  margin-inline: auto;
}

.body {
  max-width: 1600px;
  margin-inline: auto;
}

.main {
  max-width: 1600px;
  margin-inline: auto;
}

img {
  width: 100%;
  display: block;
}

.grid_forside_vellkommen {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 7%;
}

.grid_forside_multimediedesing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 7%;
}

.grid_forside_om_mig {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 7%;
  background-color: #763900;
}

.grid_om_mig_ø {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding-right: 7%;
}

.grid_om_mig_kompetencer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 7%;
  background-color: #763900;
}

.grid_om_mig_cv {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
  padding: 7%;
}

@media (min-width: 600px) {
  .grid_forside_vellkommen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 7%;
  }
  .grid_forside_multimediedesing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 7%;
  }
  .grid_forside_om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 7%;
  }
  .grid_om_mig_ø {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
  .grid_om_mig_kompetencer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 4%;
  }
  .grid_om_mig_cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 7%;
  }
}
